<div class="modal fade" id="post-modal" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<div class="micropost-img">
					
				</div>
				<div class="micropost-info">
					<div class="base-info">
						<div class="base-left-block">
							<div class="text-content"></div>
							<div class="number-like"></div>
						</div>
						<div class="base-right-block">
							<div class="setting"></div>
							<div class="time-stamp"></div>
						</div>
					</div>
					<hr>
					<div class="comments-list"></div>
				</div>
			</div>
		</div>
	</div>
</div>