/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "font-awesome";
@import "materialize";
@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,300,500');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
	font-family: 'Montserrat', sans-serif;
}

$strongGreen: #3cac94;

*:focus{
	outline: 0;
}

a:focus{
	text-decoration: none;
	color: white;
	outline: 0;
}

.fa-spinner{
	color: #3cac94;
	font-size: 2.8em;
}

.modal{
	box-shadow: none;
	background-color: transparent;
	max-height: 100%;
	width: 100%;
	.modal-content{
		padding: 0;
		.modal-header{
			padding: 12px 20px;
		}
		.modal-body{
			padding: 0;
			.users{
				.user{
					border-bottom: solid 1px #e5e5e5;
					padding: 20px;
					a{
						color: black;
						font-weight: bold;
						margin-left: 15px;
						text-decoration: none;
						&:hover{
							color: black;
						}
					}
					.avatar{
						border-radius: 50%;
						width: 50px;
						height: 50px;
					}
					.follow-form{
						display: inline-block;
						float: right;
						form{
							.follow-btn, .unfollow-btn{
								text-transform: none;
								font-weight: bold;
								padding: 0 25px;
								letter-spacing: 0.5px;
								&:focus{
									outline: 0;
								}
							}
							.follow-btn{
								background-color: #3897f0;
								&:hover{
									color: white;
								}
							}
							.unfollow-btn{
								background-color: white;
								color: #7b7b7b;
								&:hover{
									color: #7b7b7b;
								}
							}
						}
					}
				}
			}
		}
	}
}


#post-modal{
	.modal-dialog{
		font-size: 1.1em;
		width: 950px;
		.modal-content{
			width: 100%;
			display: inline-block;
			.modal-body{
				float: left;
				display: inline-block;
				width: 100%;
				.micropost-img{
					display: inline-block;
					float: left;
					img{
						width: 500px;
						height: 500px;
					}
				}
				.micropost-info{
					padding: 30px 30px;
					float: left;
					width: calc(100% - 500px);
					position: relative;
					.base-info{
						display: inline-block;
						width: 100%;
						.base-left-block{
							display: inline-block;
							float: left;
							width: 230px;
							.text-content{
								width: 100%;
								word-wrap: break-word;
								display: inline-block;
								float: left;
								a{
									text-decoration: none;
									color: black;
									font-weight: bold;
									margin-right: 6px;
									&:hover{
										color: black;
									}
								}
							}
							.number-like{
								float: left;
								display: inline-block;
								margin-top: 2px;
							}
						}
						.base-right-block{
							display: inline-block;
							float: right;
							width: calc(100% - 230px);
							.setting{
								a{
									color: black;
								}
								float: right;
								.dropdown-menu{
									min-width: 60px;
								}
							}
							.time-stamp{
								float: right;
								color: #999999;
								display: inline-block;
								margin-right: 5px;
							}
						}
					}
					hr{
						margin-top: 15px;
						margin-bottom: 15px;
					}
					.comments-list{
						overflow-y: auto;
						position: absolute;
						top: 115px;
						left: 31px;
						height: 350px;
						display: inline-block;
						width: 388px;
						.toggle-comments-list{
							cursor: pointer;
							color: #999999;
							margin-bottom: 5px;
						}
						.comment{
							margin-bottom: 3px;
							display: inline-block;
							width: 100%;
							.user-name{
								display: inline-block;
								margin-right: 5px;
								float: left;
								a{
									text-decoration: none;
									color: black;
									font-weight: bold;
									margin-right: 6px;
									&:hover{
										color: black;
									}
								}
							}
							.comment-content{
								width: 250px;
								word-wrap: break-word;
								float: left;
							}
							.setting{
								float: right;
								.glyphicon{
									font-size: 0.8em;
									color: #c7c7c7;
								}
								a{
									color: black;
								}
								.dropdown-menu{
									left: -150px;
									min-width: 60px;
								}
							}
						}
					}
				}
			}
		}
	}
}

nav{
	background-color: $strongGreen;
	margin-bottom: 5px;
	a.brand-logo{
		font-size: 2em;
		margin-left: 20px;
		font-family: 'Pacifico', cursive;
		text-decoration: none;
		&:hover{
			color: white;
		}
		.fa{
			margin-right: 10px;
		}
	}
	ul{
		a{
			padding: 0 20px;
			font-size: 1.1em;
			text-decoration: none;
			&:hover{
				color: white;
				text-decoration: none;
			}
		}
	}
	form{
		display: inline-block;
		.search-box{
			background-image: url('/assets/searchicon.png');
			background-repeat: no-repeat;
			background-position: 8px 3px;
			border: 1px solid white;
			border-radius: 5px;
			background-color: white;
			padding: 2px 8px 2px 35px;
			width: 140px;
			margin-left: 530px;
			height: 25px;
			color: black;
			font-size: 1.1em;
			transition: width .4s ease-in-out;
			&:focus{
				width: 230px;
			}
		}
	}
	input[type=text]:focus:not([readonly]){
		border-bottom: none;
		border: 1px solid white;
		box-shadow: none;
	}
	.glyphicon{
		font-size: 1.2em;
	}
	.dropdown-menu{
		left: -55px;
		width: 100px;
		min-width: 80px;
		li{
			width: 100%;
		}
	}
	.notifi-dropdown{
		min-width: 430px;
		left: -280px;
		padding: 0;
		li{
			a{
				padding: 0;
				display: flex;
				align-items: center;
				width: 100%;
				word-wrap: break-word;
				img{
					width: 55px;
					height: 55px;
					margin-right: 8px;
				}
				.notifi-content{
					word-wrap: break-word;
					width: calc(100% - 185px);
					white-space: normal;
				}
				.notifi-time{
					color: #999999;
					width: 140px;
					text-align: right;
				}
				&:hover{
					background-color: transparent;
				}
			}
			line-height: 1;
			color: black;
			display: inline-block;
			padding: 15px 15px;
			border: 1px solid #f1f1f1;
			border-left: none;
			border-right: none;
			&:hover{
				background-color: #f5f5f5;
				transition: background-color .3s ease;
			}
		}
		li.unread{
			background-color: #e7ecf5;
		}
	}
}

body{
	background-color: #f9f9f9;
	position: relative;
}

footer.page-footer{
	color: white;
	background-color: $strongGreen;
	.title{
		font-weight: bold;
		font-size: 1.5em;
	}
	.fa{
		margin-right: 10px;
	}
}

*:focus {
	outline: none;
}

#login-box {
	position: relative;
	margin: 40px auto 5% auto;
	width: 650px;
	height: 500px;
	background: #ffffff;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.left-block {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 35px;
	width: 325px;
	height: 500px;
	.error-messages{
		color: red;
	}
	.field_with_errors{
		.form-control{
			color: red;
		}
	}
	h1{
		margin-top: 0;
		margin-bottom: 12px;
	}
	input[type="text"],
	input[type="email"],
	input[type="password"] {
		display: block;
		box-sizing: border-box;
		margin-bottom: 25px;
		padding: 4px;
		width: 230px;
		height: 32px;
		border: none;
		border-bottom: 1px solid #aaaaaa;
		font-family: 'Roboto', sans-serif;
		font-weight: 400;
		font-size: 1.1em;
		transition: 0.2s ease;
		&:focus {
			border-bottom: 2px solid #16a085;
			color: #16a085;
			transition: 0.2s ease;
		}
	}
	input[type="submit"] {
		width: 140px;
		height: 35px;
		padding: 8px 15px 10px 15px;
		background: #16a085;
		border: none;
		border-radius: 2px;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		text-transform: uppercase;
		transition: 0.1s ease;
		cursor: pointer;
		&:hover, &:focus {
			opacity: 0.8;
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
			transition: 0.1s ease;
		}
		&:active {
			opacity: 1;
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
			transition: 0.1s ease;
		}
	}
	#user_password_confirmation{
		margin-bottom: 20px;
	}
	[type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
		padding-left: 25px;
		margin-right: 20px;
		font-size: 1em;
		margin-bottom: 10px;
	}
	label{
		font-size: 1em;
		margin-bottom: 15px;
	}
}

.right-block {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 30px 35px;
	width: 325px;
	height: 500px;
	background: url('https://goo.gl/YbktSj');
	background-size: cover;
	background-position: center;
	border-radius: 0 2px 2px 0;
	.login-with {
		display: block;
		margin-bottom: 40px;
		font-size: 2.5em;
		color: #ffffff;
		text-align: center;
	}
	button.social-signin {
		margin: 0 0 30px 20px;
		width: 220px;
		height: 36px;
		border: none;
		border-radius: 2px;
		color: #ffffff;
		font-family: 'Roboto', sans-serif;
		font-weight: 500;
		transition: 0.2s ease;
		cursor: pointer;
		&:hover, &:focus {
			box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
			transition: 0.2s ease;
		}
		&:active {
			box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
			transition: 0.2s ease;
		}
	}

	button.social-signin.facebook {
		background: #32508e;
	}

	button.social-signin.google {
		background: #dd4b39;
	}
}

.or {
	position: absolute;
	top: 180px;
	left: 305px;
	width: 40px;
	height: 40px;
	background: #dddddd;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	line-height: 40px;
	text-align: center;
}