// Place all the styles related to the Notifications controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.notifications{
	width: 935px;
	float: left;
	text-align: center;
	.heading{
		margin-bottom: 15px;
		font-size: 1.3em;
		background-color: #217ed0;
		color: white;
		padding: 5px 15px;
		border-radius: 10px;
		display: inline-block;
		float: left;
	}
	li.notification{
		background-color: white;
		margin-bottom: 20px;
		line-height: 1;
		color: black;
		display: inline-block;
		padding: 15px 15px;
		box-shadow: 0 1px 1px 2px #efefef;
		width: 100%;
		text-align: left;
		a{
			padding: 0;
			display: flex;
			align-items: center;
			width: 100%;
			color: black;
			text-decoration: none;
			word-wrap: break-word;
			img{
				width: 55px;
				height: 55px;
				margin-right: 8px;
			}
			.notifi-content{
				word-wrap: break-word;
				width: calc(100% - 160px);
				white-space: normal;
			}
			.notifi-time{
				float: right;
				width: 180px;
				text-align: right;
				color: #999999;
			}
			&:hover{
				background-color: transparent;
			}
		}
		&:hover{
			box-shadow: 0 1px 2px 2px #cccccc;
			transition: all .6s ease;
		}
	}
	li.unread{
		background-color: #e7ecf5;
	}
}

.pagination{
	visibility: hidden;	
}