// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url('https://fonts.googleapis.com/css?family=Quicksand');
$shadowColor: #bbbbbb;

.content{
	width: 100%;
	margin-top: 2px;
	.title{
		color: #2d3359;
		font-weight: bold;
		font-size: 1.1em;
		margin: 25px 0;
	}
	.btn{
		background-color: #ff7a69;
		&:hover{
			background-color: #f55c49;
		}
	}
	.jumbotron{
		background-image: url('/assets/cover-pic.jpg');
		background-position: center center;
		background-size: cover;
		width: 100%;
		height: 400px;
		text-align: center;
		.caption{
			margin-top: 100px;
			color: white;
			font-family: 'Roboto Slab', serif;
			h2{
				font-size: 3.5em;
				font-weight: bold;
			}
			h4{
				font-size: 1.8em;
			}
			a{
				margin-top: 20px;
			}
		}
	}
	.present{
		background-color: white;
		margin-top: -65px;
		border-radius: 5px;
		box-shadow: 0 10px 10px 2px $shadowColor;
		.overview{
			padding: 60px 30px;
			font-size: 1.3em;
			color: #a7a7a7;
			font-family: 'Roboto Slab', serif;
			.introductory{
				text-align: center;
				padding: 35px 120px;
			}
			.features{
				display: inline-block;
				width: 100%;
				margin-top: 50px;
				.feature{
					width: 33%;
					text-align: center;
					float: left;
					padding: 5px 10px;
					.caption{
						font-size: 0.9em;
					}
					.fa{
						font-size: 3.5em;
					}
					.fa-th{
						color: #e91e63;
					}
					.fa-th-list{
						color: #337ab7;
					}
					.fa-reorder{
						color: #4caf50;
					}
				}
			}
		}
		.about{
			background-image: url('/assets/contact.jpg');
			background-attachment: fixed;
			background-position: center;
			background-size: cover;
			position: relative;
			padding: 50px 0;
			display: inline-block;
			&:after{
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.7);
				content: "";
			}
			.about-caption{
				z-index: 1;
				color: white;
				padding: 50px 10px 0px 35px;
				font-size: 1.3em;
				h2{
					font-weight: bold;
				}
			}
			.about-image{
				z-index: 1;
				img{
					width: 700px;
				}
			}
		}
		.portfolio{
			text-align: center;
			.row{
				margin-top: 60px;
			}
			.overview{
				.title{
					font-size: 1.8em;
				}
				.caption{
					padding: 20px 120px;
				}
			}
			.item{
				.portfolio-pic{
					border-radius: 5px;
					height: 270px;
					box-shadow: 0 5px 5px 2px $shadowColor;
					background-position: center;
					background-size: cover;
					cursor: pointer;
					.portfolio-content{
						position: relative;
						z-index: 2;
						opacity: 0;
						padding-top: 80px;
						font-family: 'Roboto Slab', serif;
						.label{
							text-transform: uppercase;
							padding: 5px 10px;
							border-radius: 10px;
						}
						.portfolio-title{
							padding-top: 20px;
							font-weight: bold;
							color: white;
							font-size: 1.5em;
						}
					}
				}
				.portfolio-pic:hover{
					.portfolio-content{
						opacity: 1;
						transition: all .5s ease;
					}
				}
				.portfolio-pic:hover:after{
					opacity: 1;
				}
				.portfolio-pic:after {
					display: inline-block;
					position: absolute;
					top: 0;
					left: 15px;
					width: calc(100% - 30px);
					height: 100%;
					border-radius: 5px;
					opacity: 0;
					background-color: rgba(0, 0, 0, 0.5);
					content: "";
					transition: all .3s ease;
				}
				#portfolio-1{
					background-image: url('/assets/portfolio-1.jpg');
				}
				#portfolio-2{
					background-image: url('/assets/portfolio-2.jpg');
				}
				#portfolio-3{
					background-image: url('/assets/portfolio-3.jpg');
				}
				#portfolio-4{
					background-image: url('/assets/portfolio-4.jpg');
				}
				#portfolio-5{
					background-image: url('/assets/portfolio-5.jpg');
				}
				#portfolio-6{
					background-image: url('/assets/portfolio-6.jpg');
				}
				#portfolio-7{
					background-image: url('/assets/portfolio-7.jpg');
				}
				#portfolio-8{
					background-image: url('/assets/portfolio-8.jpg');
				}
			}
		}
	}
}

.main-content{
	padding: 25px 30px;
	padding-bottom: 0;
	display: inline-block;
	width: 100%;
	a{
		color: black;
		cursor: pointer;
		&:hover{
			color: black;
			text-decoration: none;
		}
	}
	.left-block-content{
		display: inline-block;
		float: left;
		.post-form{
			background-color: white;
			height: 420px;
			width: 260px;
			border-radius: 3px;
			box-shadow: 0 1px 1px 2px #efefef;
			.base-info{
				position: relative;
				.cover{
					background-color: #073b40;
					height: 120px;
					width: 100%;
					border-top-right-radius: 3px;
					border-top-left-radius: 3px;
				}
				.avatar{
					border: 1px solid #efefef;
					padding: 2px 2px;
					background-color: white;
					display: inline-block;
					position: absolute;
					top: 70px;
					left: 80px;
					border-radius: 50%;
					img{
						border-radius: 50%;
						height: 90px;
						width: 90px;
					}
				}
				.info{
					padding: 15px 15px;
					text-align: center;
					display: inline-block;
					width: 100%;
					.name{
						font-weight: bold;
						font-size: 1.1em;
						text-align: center;
						margin-top: 35px;
						word-wrap: break-word;
					}
					.follow-info{
						display: inline-block;
						width: 100%;
						text-align: center;
						.following, .follower{
							display: inline-block;
							margin-top: 15px;
							text-align: center;
							strong{
								font-size: 1.1em;
							}
						}
						.follower{
							padding-right: 15px;
						}
						.following{
							border-left: 1px solid #e0e0e0;
							padding-left: 17px;
						}
					}
				}
			}
			.form{
				width: 100%;
				padding: 0 20px;
				textarea.form-control{
					margin: 0 auto;
					width: 100%;
					resize: none;
					height: 50px;
				}
				input[type="file"]{
					outline: 0;
				}
				input#micropost_picture{
					width: 100%;
				}
				.btn-submit{
					background-color: #337ab7;
					text-transform: uppercase;
					color: white;
					border: none;
					padding: 5px 12px;
					border-radius: 3px;
					box-shadow: 0 1px 1px 1px #efefef;
					width: 100%;
					margin-top: 15px;
					margin-bottom: 15px;
					&:hover{
						box-shadow: 0 1px 1px 1px #c7c7c7;
						background-color: #217ed0;
						transition: all .5s ease;
					}
				}
			}
		}
	}
	.center-block-content{
		display: inline-block;
		width: calc(100% - 270px - 260px);
		padding: 0 30px;
		.feed-post{
			display: inline-block;
			width: 100%;
			text-align: center;
			.microposts{
				text-align: left;
				display: inline-block;
				width: 100%;
				margin-bottom: 0;
				.micropost{
					display: inline-block;
					width: 100%;
					border-radius: 3px;
					background-color: white;
					margin-bottom: 60px;
					box-shadow: 0 1px 1px 2px #efefef;
					.head{
						padding: 15px 15px;
						width: 100%;
						display: flex;
						align-items: center;
						.avatar{
							display: inline-block;
							float: left;
							img{
								border-radius: 50%;
								width: 50px;
								height: 50px;
							}
						}
						.user-name{
							display: inline-block;
							font-size: 1.1em;
							font-weight: bold;
							margin-left: 10px;
							float: left;
							word-wrap: break-word;
							width: 400px;
						}
						.timestamp{
							float: right;
							color: #999999;
							width: calc(100% - 400px - 50px - 20px);
							text-align: right;
						}
						.setting{
							.dropdown{
								margin-left: 10px;
								display: inline-block;
								.dropdown-toggle{
									color: #c0c0c0;
								}
								.dropdown-menu{
									left: -70px;
									min-width: 50px;
								}
							}
						}
					}
					.content{
						font-size: 1.1em;
						.image-content{
							img{
								width: 100%;
							}
						}
						.number-like{
							font-weight: bold;
							padding: 20px 20px 3px 20px;
						}
						.text-content{
							margin: 0 20px 5px 20px;
							a{
								font-weight: bold;
							}
						}
					}
					.comment-section{
						display: inline-block;
						width: 100%;
						padding: 0 20px 15px 20px;
						.comments-list{
							padding-bottom: 15px;
							border-bottom: solid 1px #eeeeee;
							.toggle-comments-list{
								cursor: pointer;
								color: #999999;
								margin-bottom: 5px;
							}
							.comment{
								width: 100%;
								margin-bottom: 5px;
								display: inline-block;
								.user-name{
									font-weight: bold;
									display: inline-block;
									word-wrap: break-word;
									margin-right: 6px;
									float: left;
								}
								.comment-content{
									float: left;
									display: inline-block;
									width: 65%;
									word-wrap: break-word;
								}
								.setting{
									float: right;
									.glyphicon{
										font-size: 0.8em;
										color: #c7c7c7;
									}
									.dropdown-menu{
										min-width: 140px;
									}
								}
							}
						}
						.comment-form{
							display: flex;
							align-items: center;
							width: 100%;
							margin-top: 15px;
							.fa{
								font-size: 1.8em;
								float: left;
							}
							.fa-heart{
								color: #ed4956;
							}
							input{
								float: left;
								margin-left: 15px;
								border: none;
								width: 500px;
								height: 40px;
								font-size: 1.1em;
								font-family: 'Quicksand', sans-serif;
								margin: 0 auto;
								padding: 0 15px;
								&:focus{
									box-shadow: none;
								}
							}
						}
					}
				}
			}
			.pagination{
				margin: 0 auto;
				visibility: hidden;
				display: inline-block;
			}
		}
	}
	.right-block-content{
		display: inline-block;
		float: right;
		.alert{
			width: 270px;
			a{
				color: #5d5d5d;
				&:hover{
					text-decoration: underline;
				}
			}
		}
		.suggest-friend{
			border-radius: 3px;
			background-color: white;
			box-shadow: 0 1px 1px 2px #efefef;
			width: 270px;
			.suggest-title{
				background-color: #e6e6e6;
				margin-bottom: 15px;
				padding: 10px 10px;
				border-top-right-radius: 3px;
				border-top-left-radius: 3px;
				display: inline-block;
				width: 100%;
				.title-content{
					float: left;
					display: inline-block;
				}
				.link-view-all{
					display: inline-block;
					float: left;
					margin-left: 2px;
					a{
						display: inline-block;
						float: right;
						color: #039be5;
						&:hover{
							color: #026899;
							text-decoration: underline;
						}
					}
				}
			}
			.user-suggest{
				display: inline-block;
				width: 100%;
				margin-bottom: 15px;
				padding: 0 15px;
				.avatar{
					display: inline-block;
					float: left;
					img{
						border-radius: 50%;
						width: 60px;
						height: 60px;
					}
				}
				.info{
					float: left;
					margin-left: 15px;
					.name{
						font-weight: bold;
						cursor: pointer;
						display: inline-block;
						margin-bottom: 5px;
						word-wrap: break-word;		
						width: 150px;
					}
					input[type="submit"]{
						text-transform: none;
						background-color: white;
						color: #217ed0;
						border: none;
						outline: 0;
						box-shadow: none;
						border-radius: 3px;
						padding: 2px 8px;
						border: 1px solid #217ed0;
						&:hover{
							background-color: #217ed0;
							color: white;
							transition: all .5s ease;
						}
					}
				}
			}
		}
	}
}